<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lease Sets</title>
</head>
<body>
    <h1>Lease Sets</h1>
    <ul>
        {% for lease_set in lease_sets %}
	<li><a href="http://{{ lease_set[1] }}">{{ lease_set[1] }}</a></li>
        {% endfor %}
    </ul>
    {% if offset + limit < total_lease_sets %}
        <a href="/leasesets?offset={{ offset + limit }}&limit={{ limit }}">Next</a>
    {% endif %}
    {% if offset > 0 %}
    	<a href="leasesets?offset={{ offset - limit }}&limit={{ limit }}">Back</a>
    {% endif %}
</body>
</html>

